<p id="alert"><%= alert %></p>

<h1>Log in</h1>

<%= form_with(url:"sessions", :class => 'form-signin') do |form| %>
<div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :placeholder => "Email", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :placeholder => "Password", :class => 'form-control' %>
  </div>

<div class="actions">
<<<<<<< HEAD
    <%= form.submit "Log in", :class => "btn btn-lg btn-primary btn-block" %>
=======
    <button type="submit" class="updateUserButton greyButtonWithBorder">Log in</button>
>>>>>>> a3dff12ce750d0002ed55ea9d5115cf7835c1e92
</div>
<% end %>