<p id="alert"><%= alert %></p>

<h1>Log in</h1>

<% if @auth_hash %>
  <h3><%= @auth_hash.info %></h3>
<% end %>


<%= form_with(url:"sessions", :class => 'form-signin') do |form| %>
<div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :placeholder => "Email", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :placeholder => "Password", :class => 'form-control' %>
  </div>

<div class="actions">
    <button type="submit" class="updateUserButton greyButtonWithBorder">Log in</button>
</div>
<div class="actions">
    <a class="greyButtonWithBorder" id="facebookReg"href="/auth/facebook">Facebook</a>
  </div>
<% end %>