<%= form_for @post, html: { multipart: true} do |f| %>
    <% if @post.errors.any? %>
        <div class="alert alert-danger">
        <h5><%= t('common.errors')%></h5>
        <ul>
        <% @post.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
        </ul>
        </div>
    <% end %>
    <% end %>
    <p>
    Name<br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>

     <p>
    Text<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>

   <p>
    Image<br>
    <%= f.button("Select Image", {type: "button", onclick: "document.getElementById('getFile').click()", id: "selectImage"}) %>
    <%= f.file_field(:images, {multiple: true, id: "getFile", style: "display:none"}) %>
   
  </p>

      <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
    </p>

    <% end %>