<p id="notice"><%= notice %></p>
<h1><%= @post.title%></h1>
<p><%= @post.body%></p>
<p><%= @post.documents.first {:large}%></p>


<div data-object-id="<%= @post.id %>" data-object-type="Post">
<%= render 'likes/likes', object: @post%>
</div>

<% if current_user && current_user.id == @post.user_id %>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning'%>
<%= link_to "Remove", post_path(@post), method: :delete, data:{confirm: "want to remove article"}, :class => 'btn btn-danger'%>
<hr>  
<% end %>

<small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>

<ul class="commentList" data-comment-id=<%=@post.id%>>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>

<% if current_user %>

<%= form_with( model: Comment.new(commentable_type: "Post"), class: "commentForPost") do |f| %>

<%= f.hidden_field :commentable_id , :value => @post.id%>
<%= f.hidden_field :commentable_type, :value => @post.class.to_s%>
<%= f.text_area :body, placeholder: "Add a comment", class: "clearInput"%>
<%= f.submit "Add Comment", class: "addComment" %>
<% end %>
<% end %>