<%= form_with(model: user, local: true, :class => 'form-signin') do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><i class="fas fa-times"></i><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
   
    <%= form.label :login %>
    <%= form.text_field :login, :placeholder => "Login", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :placeholder => "Email", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :placeholder => "Password", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, :placeholder => "Confirm password", :class => 'form-control' %>
  </div>

  <% if !user.image? %>
  <%= form.hidden_field :remote_image_url, :value => Faker::Avatar.image %>
  
  <% end %>
  
  <% if current_user %>
      <div class="field uploadUserAvatar">
       <%= form.button("Select Image", {type: "button", onclick: "document.getElementById('getFile').click()", id: "selectImage"}) %>
    <%= form.file_field(:image, { id: "getFile", style: "display:none"}) %>
    <%= form.hidden_field(:image_cache) %>
  
  </div>

     <div class="actions">
    <%= form.submit "Update", :class => "btn btn-lg btn-primary btn-block"%>
  </div>
  <% else %>
   <div class="actions">
    <%= form.submit "Registration", :class => "btn btn-lg btn-primary btn-block"%>
  </div>
  <% end %>
  

 
<% end %>
