
<div class="userAvatar">
<%= image_tag(@user.image.thumb.url, alt: 'Image') if @user.image?%>

<div class="userNav">
  <p class="wall"><i class="far fa-images"></i> Wall</p>
  <p class="info black"><i class="far fa-id-card"></i> Info</p>
  </div>


<% if current_user == @user %>

<div class="userUpdate">

<button type="button" class="userEdit" data-user-edit-id= <%= current_user.id %>>Edit</button>
<%= link_to 'Edit', edit_user_path(current_user) %> 
<%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>

<% end %>

</div>

<div class="userPosts">
<%= render @user.posts %>
</div>

<div class="userInfo">
  <p> Basic Information</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

</div>


<div class="userEditForm">

<%= render 'form', user: @user %>

</div>


