
  
    <%= image_tag(@user.image.thumb.url, alt: 'Image') if @user.image?%>



<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>login:</strong>
  <%= @user.login %>
</p>

<% if current_user == @user %>

<%= link_to "Log Out", logout_path %> |
<%= link_to 'Edit', edit_user_path(current_user) %> |
<td><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>


