<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @like.count %>
</p>

<p>
  <strong>Liketable:</strong>
  <%= @like.liketable_id %>
</p>

<p>
  <strong>Liketable type:</strong>
  <%= @like.liketable_type %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
