<%= form_with(model: Document.new) do |form| %>
	<p><%= @post.inspect%></p>
  <div class="field">
    <%= form.label :path %>
   <%= form.file_field :path, id: "searchImage" %>
  </div>

  <div class="field">
	<%= form.hidden_field :documentable_id , :value => @post.id%>
  
  </div>

  <div class="field">
  <%= form.hidden_field :documentable_type, :value => "Post"%>
  </div>

	
  <div class="actions">
  <%= form.button("Image", {type: "button", id: "selectImage"}) %>
    <button class="go">Go</button>
  </div>
<% end %>
