<div class="postsAll">

<p><%= link_to post.user.login, user_path(post.user) %></p>    

         <% post.documents.each do |document| %>
    <%= image_tag(document.path.large.url, alt: 'Image')%>
    <% end %>


    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%= link_to "Read more..", post_path(post), :class => 'btn btn-outline-primary'%>
    </div>
