<p id="alert"><%= alert %></p>

<h1>Login</h1>

<%= form_with(url:"sessions", :class => 'form-signin') do |form| %>
<div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :placeholder => "Email", :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :placeholder => "Password", :class => 'form-control' %>
  </div>

<div class="actions">
    <%= form.submit "Login", :class => "btn btn-lg btn-primary btn-block" %>
</div>
<% end %>